<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='index.css') }}"
    />
  </head>
  <body>
    <div id="contenurImg">
      <div class="parallax" data-speed="3"></div>
    </div>

    <form
      action="{{ url_for('submit') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <div id="inputDiv">
        <input
          type="text"
          id="summonerNameInput"
          name="game_name"
          placeholder="Nom d'invocateur"
        />
        <input
          type="text"
          id="summonerNameInput"
          name="tag_line"
          placeholder="Tag"
        />
      </div>
      <div id="btnSubmit">
        <input type="submit" id="searchButton" value="Envoyer" />
      </div>
    </form>
    <script>
      document.addEventListener("mousemove", parallax); // Ecouteur d'événement sur la souris
      function parallax(e) { // Fonction qui permet de faire bouger le background en fonction de la position de la souris
        const background = document.querySelector(".parallax"); // On récupère le background (ici la div avec la classe parallax)
        const speed = background.getAttribute("data-speed"); // On récupère la vitesse du background (ici 3)
        const x = (window.innerWidth - e.pageX * speed) / 100; // On récupère la position de la souris sur l'axe X et on la multiplie par la vitesse du background
        const y = (window.innerHeight - e.pageY * speed) / 100; // On récupère la position de la souris sur l'axe Y et on la multiplie par la vitesse du background
        background.style.backgroundPosition = x + "px " + y + "px"; // On applique les valeurs de x et y à la propriété backgroundPosition
      }
    </script>
  </body>
</html>
